html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #333;
}

.maincontainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

nav {
  position: fixed;
  width: 100%;
  background-color: White;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
}

.logo_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1.5rem;
}

.colmar {
  font-weight: 600;
}

.academy {
  color: #999;
}

.menu_desktop {
  align-items: center;
  display: flex;
}

.menu_desktop ul {
  display: flex;
  flex-direction: row;
  padding-right: .5rem;
  font-family: 'Helvetica';
  font-weight: lighter;
  color: #666;
}

.menu_desktop ul li {
  padding-right: 1rem;
}

.spacer_four-rem {
  display: block;
  width: 100%;
  height: 4rem;
}

.gray_background {
  background-color: #ccc;
}

.cointainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
}

.large_capsule {
  width: 60%;
  overflow: hidden;
  padding: 1.5rem 2rem;
}

.large_capsule img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.medium_capsule {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  width: 40%;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  width: 80%;
  padding-bottom: 1rem;
}

h3 {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5;
  width: 80%;
  padding-bottom: 1rem;
}

.start_button {
  background-color: #555;
  color: white;
  text-align: center;
  width: 70%;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
}

.medium_capsule {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  width: 40%;
}

.lighter_background {
  background-color: #eee;
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

p {
  font-size: .9rem;
  line-height: 1.8;
  color: #666;
  max-width: 100%;
  font-weight: 400;
}

.caption {
  font-family: helvetica;
  font-size: 0.9rem;
  padding: 2rem 0;
}

.landscape_capsule {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  padding: 1rem;
}

.square_container {
  width: 35%;
  height: auto;
  overflow: hidden;
}

.square_container img {
  width: 100%;
  height: auto;
  display: block;
}

h4 {
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
  line-height: 1.8rem;
}

.read_more {
  color: #33A1C9;
  font-size: 0.9rem;
  padding-top: 0.5rem;
}

.text_container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  margin: 0 auto;
  width: 65%;
}

h2 .center {
  text-align: center;
}

.sixpack_container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4.5rem;
  margin: 0 auto;
}

.portrait_capsule {
  width: 30%;
  background-color: #eee;
  margin-right: 2rem;
  padding-bottom: 3rem;
  margin-bottom: 2rem;
}

.rectangular_container {
  width: 100%;
}

.rectangular_container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1rem;
}

.portrait_capsule .text_container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    width: 90%;
  }

.courses {
  padding: 0.5rem 0
}

.subcontainer {
  display: flex;
  flex-direction: row;
} /* this guy for some strange reason keeps each side of the div nicely in place */

.medium_capsuletop {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 1.4rem auto;
}

.media_container video {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  font-family: "helvetica" , sans-serif;
  font-size: 0.8rem;
  color: #999;
  padding: 1rem 1.5rem;
  border-top: 1px solid #ccc;
}

footer ul {
  display: flex;
  flex-direction:row;
}

footer ul li {
  padding-right: 1rem;
}
